@media (max-width:1050px) {
 .header-contents{
    max-width: 40%;
    }
}


@media (max-width:750px) {
    .header-contents {
        max-width: 55%;
    }
    
    .header-contents p {
     display: none;
    }

    .header-contents button {
  padding: 2vw 4vw;
    }
}

@media (max-width: 421px)  {
header-text{ 
 font-size: max(4.5vw,22px);
}
}

